.jrowah {
  border-radius: 50%;
  width: 50%;
  height: 70%;
  margin-top: 1em;
}
.aeso {
  width: 55%;
  line-height: 30px;
  margin: 2em;
  font-size: x-large;
}
.intro {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.skillset {
  text-align: center;
}
.blogs {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
}
.blogs article {
  width: 350px;
  border: 2px solid blue;
  height: 200px;
  padding: 2%;
  margin-top: 2em;
  box-shadow: 10px 0 10px;
}
.links,
.blue {
  color: rgb(37 99 235);
}
.purple {
  color: rgb(126 34 206);
}
.green {
  color: rgb(21 128 61);
}
.css {
  color: rgb(30 64 175);
}
.yellow {
  color: rgb(234 179 8);
}
.tee {
  color: rgb(234 88 12);
}
.em {
  color: rgb(220 38 38);
}
.el {
  color: rgb(156 163 175);
}
.blogImg {
  width: 60%;
  margin-top: 2em;
  margin-left: 20%;
}
@media (max-width: 768px) {
  .aeso {
    width: 100%;
    margin-left: 0.2em;
  }
  .intro {
    display: block;
  }
  .jrowah {
    margin-left: 25%;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}
