<header class="flex sticky top-0 z-50 w-full max-w-[1260px] px-4 sm:px-6 lg:px-8 mx-auto">
  <.navbar current_url={@current_url} />
</header>
<main class="px-4 py-8 sm:px-6 lg:px-8 min-h-[calc(85vh-80px)] dark:text-white">
  <div class="mx-auto max-w-4xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<.footer current_url={@current_url} />
