.jrowah {
  border-radius: 50%;
  width: 45%;
}
.aeso {
  width: 45%;
  line-height: 30px;
  font-size: larger;
}
.intro {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.skillset {
  text-align: center;
}
.linkedin,
.youtube,
.github,
.twitter,
.instagram,
.medium {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
