.jrowah {
  border-radius: 50%;
  width: 45%;
}
.aeso {
  width: 45%;
  line-height: 30px;
  font-size: larger;
}
.intro {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.skillset {
  text-align: center;
}
.linkedin,
.youtube,
.github,
.twitter,
.instagram,
.medium {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
.linkedin {
  color: #49a1eb;
}
.youtube {
  color: #eb3223;
}
.github {
  color: black;
}
.twitter {
  color: #49a1eb;
}
.instagram {
  color: black;
}
.medium {
  color: black;
}
.blogs {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
}
.blogs article {
  width: 350px;
  border: 2px solid blue;
  height: 200px;
  padding: 2%;
  margin-top: 2em;
  box-shadow: 10px 0 10px;
}
.links {
  color: blue;
}

@media (max-width: 768px) {
  .aeso {
    width: 100%;
  }
  .intro {
    display: block;
  }
  .jrowah {
    margin-left: 25%;
  }
  .blogs {
    display: block;
  }
}
