.container {
  margin: auto;
  max-width: 1000px;
  font-family: sans-serif;
}
.heading {
  color: black;
  font-size: xx-large;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: blue;
}
h1,
h2 {
  color: rebeccapurple;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px; /* Height of the footer */
  text-align: center;
}
.socialcontainer {
  padding: 25px 50px;
  text-align: center;
  padding-top: 0%;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
