.container {
  margin: auto;
  max-width: 800px;
  font-family: sans-serif;
}
.heading {
  color: blue;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}
h1,
h2 {
  color: rebeccapurple;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px; /* Height of the footer */
  text-align: center;
}
