<div class="container mx-auto mb-4">
  <.page_intro title="My Projects">
    <p>
      These are the projects I have worked on.
    </p>
  </.page_intro>
  <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
    <%= for project <- @projects do %>
      <.project_card
        description={project.description}
        link={project.link}
        link_label={project.link_label}
        title={project.title}
      />
    <% end %>
  </div>
</div>
