<div class="container mx-auto">
  <.page_intro title="My Projects">
    <p>
      These are the projects I have worked on.
    </p>
  </.page_intro>
  <div class="grid grid-cols-1 gap-8 m-8 md:mt-16 md:grid-cols-2">
    <%= for project <- @projects do %>
      <.project_card
        alt={project.alt}
        description={project.description}
        href={project.href}
        src={project.src}
        title={project.title}
      />
    <% end %>
  </div>
</div>
