<div>
  <.page_intro title="My Blog Posts">
    <p>
      In these blogs you'll find in-depth posts on mastering emerging tools, real-world problem-solving, and reflections on growth. I hope you find it interesting, and if you do, please share it. Thank you!
    </p>
  </.page_intro>
</div>
