<div>
  <.page_intro title="Blog Posts">
    <p>
      This blog documents what I learn as I explore new technologies, solve complex problems, and share insights from both successes and challenges. You'll find in-depth posts on mastering emerging tools, real-world problem-solving, and reflections on growth. I hope you find it interesting, and if you do, please share it. Thank you!
    </p>
  </.page_intro>
</div>
